@media (min-width: 460px) {
  .box-case-work , .box-case-about {
    display: block;
  }

  .mockup {
    width: 100%;
  }
}

@media (min-width: 650px) {
  .box2 {
    margin-left: 1rem;
  }
}

@media (min-width: 800px) {
  .box-case-work , .box-case-about {
    display: flex;
  }

  .box2 {
    margin-left: 0rem;
  }

  /* .box-case-about {
    margin-left:-10rem;
  } */

}
